<h1>Welcome, <%= user.username %>!</h1>

<p>Email: <%= user.email %></p>
<p>Address: <%= user.address || "Not provided" %></p>

<a href="/menu" class="btn">Go to Menu</a>
<a href="/auth/sign-out" class="btn">Sign Out</a>